= render "items/header"
%h2.Signup 新規会員登録
= form_for @user, url: user_registration_path,method: :post do |f|
  = render "devise/shared/error_messages", resource: @user
  .Signup__field
    = f.label 'ニックネーム'
    %br/
    = f.text_field :nickname, placeholder: '例）田中フリマ'
  .Signup__field
    = f.label 'E-mail'
    %br/
    = f.email_field :email, autofocus: true, placeholder: 'PC・携帯どちらでも可', autocomplete: "email" 
  .Signup__field
    = f.label 'パスワード'
    %br/
    = f.password_field :password, placeholder: '7文字以上', autocomplete: "new-password"
  .Signup__field
    = f.label 'パスワード(確認用)'
    %br/
    = f.password_field :password_confirmation, placeholder: '7文字以上', autocomplete: "new-password"
  .actions
    = f.submit "次へ"
    = render "devise/shared/links"