= render "items/header"
.Signup
  .Signup__main
    %h2.Signup__title 本人確認情報
    .Signup__head
      .Signup__head__form
        = form_for @profile do |f|
          = render "devise/shared/error_messages", resource: @profile
          .Signup__head__form__field
            = f.label 'お名前(全角)'
            %span.Signup__head__form__field__require 必須
            %br/
            = f.text_field :family_name, placeholder: '例）田中'
            = f.text_field :personal_name, placeholder: 'フリマ'
          .Signup__head__form__field
            = f.label 'ふりがな(全角)'
            %span.Signup__head__form__field__require  必須
            %br/
            = f.text_field :family_name_kana, placeholder: '例）たなか'
            = f.text_field :personal_name_kana, placeholder: 'ふりま'
          .Signup__head__form__field
            = f.label '生年月日'
            %span.Signup__head__form__field__require  必須
            %br/
            = f.text_field :birthyear, placeholder: '年（西暦）'
            = f.text_field :birthmonth, placeholder: '月'
            = f.text_field :birthday, placeholder: '日'
          .Signup__head__form__actions
            = f.submit "次へ", class: 'next-btn'
= render "items/footer"



 