%h2.Address
  商品送付先住所情報
.Address__form
  = form_for @address do |f|
    = render "devise/shared/error_messages", resource: @address
    .Address__form__field
      = f.label 'お名前'
      %br/
      = f.text_field :first_name
      = f.text_field :last_name
    .Address__form__field
      = f.label 'ふりがな'
      %br/
      = f.text_field :first_name_kana
      = f.text_field :last_name_kana
    .Address__form__field
      = f.label '郵便番号'
      %br/
      = f.text_field :zipcode
    .Address__form__field
      = f.label '都道府県'
      %br/
      = f.text_field :prefecture
    .Address__form__field
      = f.label '市町村'
      %br/
      = f.text_field :city
    .Address__form__field
      = f.label '番地'
      %br/
      = f.text_field :address
    .Address__form__field
      = f.label 'アパート名（号室）'
      %br/
      = f.text_field :apartment
    .actions
      = f.submit "次へ"
= render "devise/shared/links"