= render "items/header"
.Signup
  .Signup__main
    %h2.Signup__title ログイン
    .Signup__head
      .Signup__head__form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .Signup__head__form__field
            = f.label :email 
            %span.Signup__head__form__field__require 必須
            %br/
            = f.email_field :email, autofocus: true, placeholder: 'ご登録されたアドレス', autocomplete: "email"
          .Signup__head__form__field
            = f.label 'パスワード'
            %span.Signup__head__form__field__require 必須
            %br/
            = f.password_field :password, placeholder: '7文字以上', autocomplete: "current-password"
          -if devise_mapping.rememberable?
            .Signup__head__form__field
              = f.check_box :remember_me 
              = f.label :remember_me
            .Signup__head__form__actions
              = f.submit "ログイン", class: 'next-btn'
= render "items/footer"


