
= render 'items/header'
.transaction-pay
  .transaction-pay__content
    %h2.transaction-pay__title 購入内容の確認
    .transaction-pay__item
      .transaction-pay__item-box
      .transaction-pay__item-detail
        %p.transaction-pay__item-detail--name
        .transaction-pay__item-detail-price
          .transaction-pay__item-detail-price--text
            ￥
          .transaction-pay__item-detail-price--text
          .transaction-pay__item-detail-price--shipping （税込）送料込み
    .transaction-pay__table
      .transaction-pay__table-inner
        .transaction-pay__table-form
          .transaction-pay__table-content
            .transaction-pay__table-pay
              %p.transaction-pay__table-pay--title 支払い金額
            .transaction-pay__table-price
              %p.transaction-pay__table-price--title
                ￥
              %p.transaction-pay__table-price--title
          .transaction-pay__table-way
            %h3 支払い方法
            .transaction-pay__table-register
              - if @default_card_information.blank?
                %i.fas.fa-plus-circle
                %span.icon-register
                = link_to "登録してください", new_card_path
              - else
                = "**** **** **** " + @default_card_information.last4
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
          .transaction-pay__table-buy
            = form_tag(action: :pay, method: :post, item_id: @item) do
              %button.transaction-pay__table-buy-button 購入する
= render 'items/footer'