.Main
  %section.Main__top
    .Main__top__content
      %h2.Main__top__content__list
        %br
        人生を変えるフリマアプリ
      %p.Main__top__content__comment
        FURIMAはだれでもかんたんに出品・購入できる
        %br
          フリマアプリです
      .Main__top__content__img
        = link_to root_path,class: "Main__top__content__img__list" do
          AppStore
        = link_to root_path,class: "Main__top__content__img__list" do
          Google Play
  %section.Main__choose
    .Main__choose__content
      %h2.Main__choose__content__list
        FURIMAが選ばれる3つの理由
      %ul.Main__choose__content__text
        %li.Main__choose__content__text__list
          .Main__choose__content__text__list__number
            a
          %h3.Main__choose__content__text__list__text
            3分ですぐに出品
          %p.Main__choose__content__text__list__comment
            スマホで入力するだけで簡単に出品できる！
        %li.Main__choose__content__text__list
          .Main__choose__content__text__list__number
            b
          %h3.Main__choose__content__text__list__text
            シンプルで使いやすい
          %p.Main__choose__content__text__list__comment
            手数料業界最安
        %li.Main__choose__content__text__list
          .Main__choose__content__text__list__number
            c
          %h3.Main__choose__content__text__list__text
            手数料業界最安
          %p.Main__choose__content__text__list__comment
            最大3％でお得に出品＆購入！
  %section.Main__subTitle
    .Main__subTitle__comment
      %h2.Main__subTitle__comment__text
        会員数日本一位
      %p.Main__subTitle__comment__list
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .Main__subTitle__comment__top
        = link_to root_path,class: "Main__subTitle__comment__top__list" do
          App Store
        = link_to root_path,class: "Main__subTilte__comment__top__list" do
          Google Play
  %section.Main__keyFeatures
    %h2.Main__keyFeatures__content
      FURIMAの特徴
    .Main__keyFeatures__items
      %section.Main__keyFeatures__items__img
        a
        %figure.Main__keyFeatures__items__img__pay
          1
        %h3.Main__keyFeatures__items__img__subTitle 
          簡単に売り買いできる
        %p.Main__keyFeatures__items__img__detail 
          スマートフォンひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.Main__keyFeatures__items__img
        b
        %figure.Main__keyFeatures__items__img__pay
          2
        %h3.Main__keyFeatures__items__img__subTitle
          売上金は即日振込みに対応
        %p.Main__keyFeatures__items__img__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      %section.Main__keyFeatures__items__img
        c
        %figure.Main__keyFeatures__items__img__pay
          3
        %h3.Main__keyFeatures__items__img__subTitle
          様々な支払いに対応  
        %p.Main__keyFeatures__items__img__detail
          お支払いは、クレジットカードだけではなく、ポイントや売上金など多彩な方法があります。
  %section.Main__pickUp
    %h2.Main__pickUp__heads
      ピックアップカテゴリー
    .Main__pickUp__box
      .Main__pickUp__box__head
        = link_to root_path,class: "Main__pickUp__box__head__box" do
          %h3.Main__pickUp__box__head__title
            新規投稿商品
      .Main__pickUp__box__list
        .Main__pickUp__box__list__img
          = link_to root_path,class: "Main__pickUp__box__list__img__text" do
            %figure.Main__pickUp__list__img__text__head
              ■
            .Main__picUp__box__list__img__text__body
              %h3.Main__name
                product
              .Main__details
                %ul.Main__details__tax
                  %li.Main__details__tax__yen
                    1000円
                  %li.Main__details__tax__like
                    ★
                    %i.Main__details__tax__like__icon
                %p.Main__details__included
                  (税込) 
        .Main__pickUp__box__list__img
          = link_to root_path,class: "Main__pickUp__box__list__img__text" do
            %figure.Main__pickUp__list__img__text__head
              ■
            .Main__picUp__box__list__img__text__body
              %h3.Main__name
                product
              .Main__details
                %ul.Main__details__tax
                  %li.Main__details__tax__yen
                    1000円
                  %li.Main__details__tax__like
                    ★
                    %i.Main__details__tax__like__icon
                %p.Main__details__included
                  (税込) 
        .Main__pickUp__box__list__img
          = link_to root_path,class: "Main__pickUp__box__list__img__text" do
            %figure.Main__pickUp__list__img__text__head
              ■
            .Main__picUp__box__list__img__text__body
              %h3.Main__name
                product
                .Main__name__details
                  %ul.Main__name__details__tax
                    %li.Main__name__details__tax__yen
                      1000円
                    %li.Main___name__details__tax_like
                      ★
                      %i.Main__name__details__tax__like__icon
                  %p.Main__name__tax__included
                    (税込)
        .Main__pickUp__box__list__img
          = link_to root_path,class: "Main__pickUp__box__list__img__text" do
            %figure.Main__pickUp__list__img__text__head
              ■
            .Main__picUp__box__list__img__text__body
              %h3.Main__name
                product
              .Main__details
                %ul.Main__details__tax
                  %li.Main__details__tax__yen
                    1000円
                  %li.Main__details__tax__like
                    ★
                    %i.Main__details__tax__like__icon
                %p.Main__details__included
                  (税込) 
  %section.Main__pickUp
    %h2.Main__pickUp__heads
      ピックアップブランド
    .Main__pickUp__box
      .Main__pickUp__box__head
        = link_to root_path,class: "Main__pickUp__box__head__box" do
          %h3.Main__pickUp__box__head__title
            アーカイバ
      .Main__pickUp__box__list         
        .Main__pickUp__box__list__img
          = link_to root_path,class: "Main__pickUp__box__list__img__text" do
            %figure.Main__pickUp__list__img__text__head
              ■
            .Main__picUp__box__list__img__text__body
              %h3.Main__name
                product
              .Main__details
                %ul.Main__details__tax
                  %li.Main__details__tax__yen
                    1000円
                  %li.Main__details__tax__like
                    ★
                    %i.Main__details__tax__like__icon
                %p.Main__details__included
                  (税込) 
        .Main__pickUp__box__list__img
          = link_to root_path,class: "Main__pickUp__box__list__img__text" do
            %figure.Main__pickUp__list__img__text__head
              ■
            .Main__picUp__box__list__img__text__body
              %h3.Main__name
                product
              .Main__details
                %ul.Main__details__tax
                  %li.Main__details__tax__yen
                    1000円
                  %li.Main__details__tax__like
                    ★
                    %i.Main__details__tax__like__icon
                %p.Main__details__included
                  (税込)  
        .Main__pickUp__box__list__img
          = link_to root_path,class: "Main__pickUp__box__list__img__text" do
            %figure.Main__pickUp__list__img__text__head
              ■
            .Main__picUp__box__list__img__text__body
              %h3.Main__name
                product
              .Main__details
                %ul.Main__details__tax
                  %li.Main__details__tax__yen
                    1000円
                  %li.Main__details__tax__like
                    ★
                    %i.Main__details__tax__like__icon
                %p.Main__details__included
                  (税込)  
        .Main__pickUp__box__list__img
          = link_to root_path,class: "Main__pickUp__box__list__img__text" do
            %figure.Main__pickUp__list__img__text__head
              ■
            .Main__picUp__box__list__img__text__body
              %h3.Main__name
                product
              .Main__details
                %ul.Main__details__tax
                  %li.Main__details__tax__yen
                    1000円
                  %li.Main__details__tax__like
                    ★
                    %i.Main__details__tax__like__icon
                %p.Main__details__included
                  (税込)     

  