= render 'items/header'

.main__form
  .inputform
    .inputform__header__top
      .inputform__header__title
        編集画像
      .inputform__header__hissu
        必須
    .inputform__body
      .inputform__body__title
      #inputform__body__upload
        = form_with model: @item, local: true do |form|
          = form.fields_for :item_images do |j|
            = label :image_url, "画像をアップロード", for: "image__input__btn__file", class: "image__input__btn"
            .file_fields
              = j.file_field :image_url, id: "image__input__btn__file", class: "js-file"
          -#= render 'form'
          
          .inputform__product
            .inputform__header__item
              .inputform__header__title__item
                商品名
              .inputform__header__hissu
                必須
            .inputform__body
              .inputform__body__upload__item
                = form.text_field :name, class: "inputform__body__upload__text"
                .inputform__header__item
                  .inputform__header__title__item
                    商品の説明
                  .inputform__header__hissu
                    必須
                .inputform__body
                  .inputform__body__upload__item
                    = form.text_area :text, size: "55x6", maxlength: "1000", class: "inputform__body__upload__text"
                
                  .inputform
                    .inputform__category
                      .inputform__category__header
                        .inputform__category__header__title
                          カテゴリー
                        .inputform__category__header__hissu
                          必須
                      .inputform__category__body
                        .inputform__category__body__upload
                          .item_serect_field
                            =form.collection_select :category_id, @category_parent_array, :id, :name,{ include_blank: "選択してください"},class:"serect_field"
                    .inputform__header
                      .inputform__header__title
                        ブランド
                      .inputform__header__nini
                        任意
                    .inputform__body
                      .inputform__body__upload
                        = form.text_field :brand, class: "inputform__body__upload__text"
                    .inputform__header
                      .inputform__header__title
                        商品の状態
                      .inputform__header__hissu
                        必須
                    .inputform__body
                      .inputform__body__upload
                        = form.select :condition, [["選択して下さい", 0],["新品、未使用", 1],["目立った汚れ傷なし", 2],["傷や汚れ有り", 3],["全体的に状態が悪い", 4]], class: "inputform__body__upload__select"

                  .inputform__deliver
                    .inputform__header
                      .inputform__header__title
                        配送料の負担
                      .inputform__header__hissu
                        必須
                    .inputform__body
                      .inputform__body__upload
                        = form.select :shipping_charges, [["選択して下さい", 0], ["送料込み（出品者負担）", 1], ["着払い（購入者負担）", 2]], class: "inputform__body__upload__select"
                    .inputform__header
                      .inputform__header__title
                        発送元の地域
                      .inputform__header__hissu
                        必須
                    .inputform__body
                      .inputform__body__upload
                        = form.collection_select :shipping_area_id, ShippingArea.all, :id, :name
                    .inputform__header
                      .inputform__header__title
                        発送までの日数
                      .inputform__header__hissu
                        必須
                    .inputform__body
                      .inputform__body__upload
                        = form.select :days_until_delivery, [["選択して下さい", 0], ["1日~2日で発送", 1], ["2日~3日で発送", 2], ["4日~7日で発送", 3]], class: "inputform__body__upload__select"

                  .inputform__price
                    .inputform__header
                      .inputform__header__title
                        販売価格
                      .inputform__header__hissu
                        必須
                    .inputform__body
                      .inputform__body__upload
                        ¥
                        = form.number_field :price, class: "inputform__body__upload__number"
                        
                  .inputform__submit
                    .inputform__body
                      .inputform__body__upload
                        = form.submit value: "変更する", id: "inputform__body__upload__submit"
                
= render 'items/footer'