= render 'items/header'
.User
  .Page
    .Page__head
      .Page__head__home
        =link_to root_path,class: 'Mypage-btn' do
          FURIMA
      .Page__head__home
        >
      .Page__head__home
        =link_to root_path,class: 'Mypage-btn' do
          = @category_parent.name
      .Page__head__home
        >   
      .Page__head__home
        =link_to root_path,class: 'Mypage-btn' do
          = @category_child.name   
      .Page__head__home
        >   
      .Page__head__home
        =link_to root_path,class: 'Mypage-btn' do
          = @category_grandchild.name
      .Page__head__home
        >   
      .Page__head__home
        =link_to root_path,class: 'Mypage-btn' do
          = @item.name
.ItemDetails
  .ItemDetails__show
    .ItemDetails__show__content
      .ItemDetails__show__content__top
        .ItemDetails__show__content__top__itemBox
          %h2.ItemDetails__show__content__top__itemBox__name
          .ItemDetails__show__content__top__itemBox__body
            %ul.ItemDetails__show__content__top__itemBox__body__item
              %li.ItemDetails__show__content__top__itemBox__body__item__img
                = image_tag @item.item_images[0].image_url.url
              %il.ItemDetails__show__content__top__itemBox__body__item__list
                %ul.ItemDetails__show__content__top__itemBox__body__item__list__items
                  %li.ItemDetails__show__content__top__itemBox__body__item__list__items__img
                 
                  %li.ItemDetails__show__content__top__itemBox__body__item__list__items__img
                 
          .ItemDetails__show__content__top__itemBox__price
            = @item.price
            .ItemDetails__show__content__top__itemBox__price__detail
              .ItemDetails__show__content__top__itemBox__price__detail__tax
                （税込）
              .ItemDetails__show__content__top__itemBox__price__detail__postage
                送料込み
          .ItemDetails__show__content__top__itemBox__item
          .ItemDetails__show__content__top__itemBox__table
            %table.ItemDetails__show__content__top__itemBox__table__text
              %tbody.ItemDetails__show__content__top__itemBox__table__text__tbody
                %tr.ItemDetails__show__content__top__itemBox__table__text__tbody__buyUser
                  %th.ItemDetails__show__content__top__itemBox__table__text__tbody__buyUser__nameList
                    出品者
                  %td.ItemDetails__show__content__top__itemBox__table__text__tbody__buyUser__name 
                    = @item.user.nickname
                %tr.ItemDetails__show__content__top__itemBox__table__text__tbody__content
                  %th.ItemDetails__show__content__top__itemBox__table__text__tbody__content__nameList
                    カテゴリー
                  %td.ItemDetails__show__content__top__itemBox__table__text__tbody__content__name
                    .content
                      = link_to root_path,class: 'details-btn' do
                        = @category_parent.name
                    .content
                      = link_to root_path,class: 'details-btn' do
                        = @category_child.name  
                    .content
                      = link_to root_path,class: 'details-btn' do
                        = @category_grandchild.name
                %tr.ItemDetails__show__content__top__itemBox__table__text__tbody__brand
                  %th.ItemDetails__show__content__top__itemBox__table__text__tbody__brand__nameList
                    ブランド
                  %td.ItemDetails__show__content__top__itemBox__table__text__tbody__brand__name
                    boy
                %tr.ItemDetails__show__content__top__itemBox__table__text__tbody__size
                  %th.ItemDetails__show__content__top__itemBox__table__text__tbody__size__nameList
                    商品のサイズ
                  %td.ItemDetails__show__content__top__itemBox__table__text__tbody__size__name
                    100cm
                %tr.ItemDetails__show__content__top__itemBox__table__text__tbody__old
                  %th.ItemDetails__show__content__top__itemBox__table__text__tbody__old__nameList
                    商品の状況
                  %td.ItemDetails__show__content__top__itemBox__table__text__tbody__old__name
                    新品/未使用
                %tr.ItemDetails__show__content__top__itemBox__table__text__tbody__postage
                  %th.ItemDetails__show__content__top__itemBox__table__text__tbody__postage__nameList
                    配送料の負担
                  %td.ItemDetails__show__content__top__itemBox__table__text__tbody__postage__name
                    送料込み（出品者負担）
                %tr.ItemDetails__show__content__top__itemBox__table__text__tbody__area
                  %th.ItemDetails__show__content__top__itemBox__table__text__tbody__area__nameList
                    発送元の地域
                  %td.ItemDetails__show__content__top__itemBox__table__text__tbody__area__name
                    =link_to root_path,class: 'details-btn' do
                      北海道
                %tr.ItemDetails__show__content__top__itemBox__table__text__tbody__standard
                  %th.ItemDetails__show__content__top__itemBox__table__text__tbody__standard__nameList
                    発送日の目安
                  %td.ItemDetails__show__content__top__itemBox__table__text__tbody__standard__name  
                    1-2日で発送
      %ul.ItemDetails__show__content__links
        %li.ItemDetails__show__content__links__before
          = link_to root_path,class: 'details-btn' do
            <前の商品
        %li.ItemDetails__show__content__links__after
          = link_to root_path,class: 'details-btn' do
            後の商品>
      .ItemDetails__show__content__relateItems
        .ItemDetails__show__content__relateItems__more
          = link_to root_path,class: 'details-btn' do
            ベビー・キッズをもっと見る
        .ItemDetails__show__content__relateItems__list
          .ItemDetails__show__content__relateItems__list__product
            .ItemDetails__show__content__relateItems__list__product__box
              .ItemDetails__show__content__relateItems__list__product__box__img
                ime
              .ItemDetails__show__content__relateItems__list__product__box__body
                %h3.ItemDetails__show__content__relateItems__list__product__box__body__name
                  productList
                .ItemDetails__show__content__relateItems__list__product__box__body__detail
                  %ul.ItemDetails__show__content__relateItems__list__product__box__body__detail__foot
                    %li.ItemDetails__show__content__relateItems__list__product__box__body__detail__foot__price
                      3,000円
                    %li.ItemDetails__show__content__relateItems__list__product__box__body__detail__foot__like
                      ★
                  %p.ItemDetails__show__content__relateItems__list__product__box__body__detail__tax
                    （税込） 
-# 出品者ならば編集と削除を表示
- if user_signed_in? && (current_user.id == @item.user_id)
  = link_to '編集', edit_item_path( @item.id), method: :get
  = link_to '削除', item_path(@item.id), method: :delete
-# 商品出品者であれば表示させない
- if user_signed_in? && (current_user.id == @item.user_id)
- else
  .product-show__transaction
    .product-show__transaction-box
      -# 商品購入済みであればSOLD OUT
      - if @item_purchase.present?
        .product-transaction-btn
          SOLD OUT
      - else user_signed_in? 
        = link_to "購入画面に進む", item_item_purchase_index_path(@item.id), class: "product-transaction-btn"                     
= render 'items/footer'
= render 'items/a'