%html
  %head
    %meta{"charset":"UTF-8"}
    %link{"href": "style.sass", "rel": "stylesheet"}
    %title Fulimaapp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
%body
  = reader 'layouts/notifications'
  = yield